@import "../../node_modules/lucid-ui/dist/index.css";
@import "./rotating-card.scss";

body {
	font-size: 14px;
	font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
	background-color: #E5E9ED;
}

footer {
	margin-top: 20px;

	a {
		padding: 5px 10px 5px 0;
	}
}